<div class="vertical-menu">
    <a href="{% url 'rag_articles' %}" class="{% if request.resolver_match.url_name == 'rag_articles' %}active{% endif %}">RAG sur les articles</a>
    <a href="{% url 'article_list' %}" class="{% if request.resolver_match.url_name == 'article_list' %}active{% endif %}">Liste des Articles</a>
    <a href="{% url 'evaluate_rag' %}" class="{% if request.resolver_match.url_name == 'evaluate_rag' %}active{% endif %}">Evaluation</a>
    <a href="{% url 'grafana' %}" class="{% if request.resolver_match.url_name == 'grafana' %}active{% endif %}">Grafana</a>
    <a href="{% url 'uptime_kuma' %}" class="{% if request.resolver_match.url_name == 'uptime_kuma' %}active{% endif %}">Uptime Kuma</a>
    <a href="{% url 'gene' %}" class="{% if request.resolver_match.url_name == 'gene' %}active{% endif %}">Info gène</a>
</div>