{% extends 'polls/base.html' %}

{% block content %}
    <h2>📢 Disclaimer - Données PubMed et RGPD</h2>
    <p>
        Cette application récupère des données publiques de PubMed pour un usage scientifique et analytique.
        Nous respectons les règles du RGPD et ne stockons aucune donnée personnelle identifiable.
    </p>
    <p>
        Si vous souhaitez demander la suppression de vos informations, contactez-nous à :
        <a href="mailto:lombardi.joachim@gmail">administrateur</a>.
    </p>
{% endblock %}
