{% extends "polls/base.html" %}

{% block title %}
    RAG
{% endblock %}

{% block content %}
<div class="container mt-5">
    
    <h1 class="text-center mb-4">Poser une question au RAG</h1>

    <form method="POST" action="{% url 'rag_articles' %}" class="mb-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>

    {% if response %}
    <div class="card mb-4">
        <div class="card-header">
            <h2 class="card-title">Réponse :</h2>
        </div>
        <div class="card-body">
            <p class="card-text">{{ response }}</p>
        </div>
    </div>
    {% endif %}

    {% if context %}
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Contexte :</h2>
        </div>
        <div class="card-body">
            <p class="card-text">{{ context|linebreaks }}</p>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}