{% extends "polls/base.html" %}

{% block title %}
    RAG
{% endblock %}

{% block content %}
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        alert-danger
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        alert-success
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                        alert-warning
                    {% else %}
                        alert-info
                    {% endif %}
                ">
                    {{ message|safe }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
<div class="container mt-5">
    
    <h1 class="text-center mb-4">RAG</h1>

    <form method="POST" action="{% url 'rag_articles' %}" class="mb-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>

    {% if response %}
    <div class="card mb-4">
        <div class="card-header">
            <h2 class="card-title">Réponse :</h2>
        </div>
        <div class="card-body">
            <p class="card-text">{{ response }}</p>
        </div>
    </div>
    {% endif %}

    {% if retrieved_documents %}
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Contexte :</h2>
        </div>
        <div class="card-body">
            {% for document in retrieved_documents %}
                <p class="card-text"><strong>Abstract n°{{ document.id }}:</strong> {{ document.title }}.</p>
                <p class="card-text"><strong>Score:</strong> {{ document.score |floatformat:1  }}.</p>
                <p class="card-text">{{ document.abstract }}.</p>
                {% for author, affiliations in document.authors_affiliations.items %}
                    <li class="mb-2">
                        <strong>{{ author }}</strong><br>
                        <span>Affiliations :</span>
                        <ul>
                            {% for affiliation in affiliations %}
                            <li>{{ affiliation }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                <hr>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}

