<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poser une Question au RAG</title>
</head>
<body>
    <p>Connecté en tant que {{ user.username }}</p>
    <h1>Poser une question au RAG</h1>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <form method="POST" action="{% url 'rag_articles' %}">
        {% csrf_token %}
        <label for="query">Question:</label>
        <input type="text" id="query" name="query" required>
        <button type="submit">Envoyer</button>
    </form>
    {% if response %}
    <div>
        <h2>Réponse:</h2>
        <p>{{ response }}</p>
    </div>
    {% endif %}

    {% if context %}
    <div>
        <h2>Contexte:</h2>
        <p>{{ context|linebreaks  }}</p>
    </div>
    {% endif %}
</body>
</html>
