<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .registration-form {
            max-width: 600px; 
            margin: auto; 
            padding: 20px;
            border: 1px solid #dee2e6; 
            border-radius: 0.25rem; 
            background-color: #f8f9fa; 
        }
    </style>
</head>
<body>
    {% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    alert-danger
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    alert-success
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    alert-warning
                {% else %}
                    alert-info
                {% endif %}
            ">
                {{ message|safe }}
            </div>
        {% endfor %}
    </div>
{% endif %}
    <div class="container mt-5">
        <div class="registration-form w-100"> 
            <h2 class="text-center">Inscription</h2>
            <form method="post" class="mt-4">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <div class="form-group">
                    <p class="small text-muted">
                        En vous inscrivant, vous acceptez que vos données personnelles soient collectées et traitées conformément à notre 
                        politique de confidentialité.
                        Vous avez le droit d'accéder à vos données personnelles, de les rectifier, de les supprimer ou de demander leur portabilité. 
                        Vous pouvez également retirer votre consentement à tout moment et demander la suppression de votre compte et de vos données personnelles.
                    </p>
                </div>
                <button type="submit" class="btn btn-primary btn-block">S'inscrire</button>
            </form>
            <p class="text-center mt-3">Déjà un compte ? <a href="{% url 'login' %}">Se connecter</a></p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
